<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Wine Seeker</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			
			<form class="navbar-form navbar-right">
				<input type="text" class="form-control" placeholder="Search..." ng-model= "$ctrl.research">
			</form>
			<ul class="nav navbar-nav navbar-right">
				<li><a>Markets around me</a></li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-2 sidebar">
			<ul class="nav nav-sidebar">
<!-- 		<li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>
-->	

<select name="affichage" id="affichage" ng-model="$ctrl.affichage">
	<option value="owner">By Owner</option>
	<option value="shops">By Shops</option>
</select>
<li ng-click="$ctrl.displayOwnerWines()" ng-if="$ctrl.viewerowner()"><a>Tous les owners</a></li>			
<li ng-if="$ctrl.viewerowner()" ng-repeat="owner in $ctrl.owners" ng-click="$ctrl.displayOwnerWines(owner.id)" ><a> {{ owner.firstname }} {{ owner.lastname }}</a></li>

<li ng-if="$ctrl.viewershop()" ng-repeat="market in $ctrl.markets" ng-click="$ctrl.displayOwnerWines(owner.id)" ><a> {{ market.name }}</a></li>
</ul>

</div>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	<h1 class="page-header"></h1>

	<div class="row placeholders">

		<div class="row">
			<div class="col-xs-6 col-sm-3" ng-if="$ctrl.viewerowner()" ng-repeat="wine in $ctrl.wines | filter: $ctrl.search()" >
				<div class="thumbnail">
					<img src={{wine.urlImg}} alt={{wine.name}}>
					<div class="caption">
						<h3>{{wine.name}}</h3>
						<p>{{wine.resume}}</p>
						<p><a href="#" class="btn btn-primary" role="button" ng-click="$ctrl.modale(wine.id)">En savoir plus</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>