!<!DOCTYPE html>
<html lang="fr" ng-app="allLists">
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />

	<link rel="stylesheet" type="text/css" href="/style.css">

	<script src="/node_modules/angular/angular.js"></script>
	<script src="/node_modules/angular-animate/angular-animate.js"></script>

	<script src="/node_modules/jquery/dist/jquery.min.js"></script>

	<script src="/leaflet-src.js"></script>

	<title>Wine Seeker</title>
</head>
<body>
	
	<all-lists></all-lists>







	


	<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="/node_modules/angular-animate/angular-animate.js"></script>

	



	<!-- App models -->

	<script type="text/javascript" src="/app/models/market.js"></script>
	<script type="text/javascript" src="/app/models/owner.js"></script>
	<script type="text/javascript" src="/app/models/wine.js"></script>
	<script type="text/javascript" src="/app/collections/markets.js"></script>
	<script type="text/javascript" src="/app/collections/owners.js"></script>
	<script type="text/javascript" src="/app/collections/wines.js"></script>

	<!-- angular -->
	<script src="/app/allListsModule.js"></script>
	<script src="/app/components/allListsController.js"></script>
	<script src="/app/components/allListsComponent.js"></script>
	<script src="/app/scroll.js"></script>



</body>
</html>

