!<!DOCTYPE html>
<html lang="fr" ng-app="allLists">
<head>
	<meta charset="UTF-8">

	<link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/style.css">

	<script src="/node_modules/angular/angular.js"></script>
	<script src="/node_modules/angular-animate/angular-animate.js"></script>

	<script src="/node_modules/jquery/jquery.min.js"></script>

	<title>Wine Seeker</title>
</head>
<body>

	


		<script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

		<!-- App models -->
		<script type="text/javascript" src="/app/models/student.js"></script>
		<script type="text/javascript" src="/app/collections/students.js"></script>

		<!-- angular -->
		<script src="/app/studentApp.js"></script>
		<script src="/app/components/studentList/studentListModule.js"></script>
		<script src="/app/components/studentList/studentListController.js"></script>
		<script src="/app/components/studentList/studentListComponent.js"></script>
		<script src="/app/components/studentList/studentAveragesComponent.js"></script>
	</body>
	</html>

